html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  background-color: black;
}

.style-sidebar-tabs:hover {
  background-color: black;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
  position: relative;
  left: 0;
  top: 0;
  transform: none;
}

@media screen and (max-width: 900px) {
  .react-player {
    height: 30vh !important;
    width: 100% !important;
    position: relative;
    left: 0;
    top: 0;
    transform: none;
  }
}
